.room {
	height: 100vh;
	display: grid;
	justify-content: center;
	align-items: center;
}

.lobby {
	display: flex;
	align-items: stretch;
	flex-direction: column;
}

.lobby__buttons {
	display: flex;
	margin-top: 1rem;
}

.lobby .card {
	background: #333;
	color: white;
}

.player-list {
	display: flex;
	gap: 0.8rem;
}

.player-card {
	width: 12rem;
	text-align: center;
	image-rendering: pixelated;
}

.hidden {
  display: none;
}