.home {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: calc(4rem + 4vw) 1rem !important; 
	color: white;

	// bootstrap override
	.row {
		margin: 0;
	}
}

.or-divider {
	width: 100%;
	padding: 0.8rem 0 0.6rem;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.1rem;

	text-align: center;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 2px;
	color: rgba(white, 0.4);

	&::before {
		margin-right: 4px;
	}

	&::before, &::after {
		content: '';
		height: 2px;
		width: 8px;
		background: currentColor;
	}
}

.create-btn {
	width: 100%;
	background: #fff001;
	color: #010101;
	border-radius: 8px;
	padding: 0.8rem;

	text-transform: uppercase;
	border: none;
	box-shadow: 0 6px 0 darken(#fff001, 15);

	&:active {
		transform: translateY(4px);
		box-shadow: 0 2px 0 darken(#fff001, 15);
	}
}