*, *::after, *::before {
	box-sizing: border-box;
	outline: none;
}

:root {
	--black: #010101;
	--yellow: #FFF001;
	--blue: #3135B7;
	--orange: #F8B800;
}

body {
	background: var(--black);
	image-rendering: pixelated;
	text-rendering: optimizeSpeed;

	font-size: 17px;
	font-family: 'Kenney Mini', monospace;
	letter-spacing: 0.5px;
	line-height: 1.2;
}

p {
	margin: 0;
}

img {
	image-rendering: pixelated;
}

/* bootstrap overrides */
.container {
	width: 1024px;
	padding: calc(1rem + 4vh) 2rem 5rem;
	max-width: 100%;
	background: #1F2136;
	border-radius: 0 0 4px 4px;

	box-shadow: 
		5px 0 0 darken(#1F2136, 2),
		7px 0 0 darken(#1F2136, 5),
		-5px 0 0 darken(#1F2136, 2),
		-7px 0 0 darken(#1F2136, 5);
}

.btn-primary {
	color: #fff;
  background-color: #0043ff;
  border-color: #0043ff;

	&:hover, &:focus {
		background-color: darken(#0043ff, 10);
		border-color: darken(#0043ff, 10);
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(#0043ff, 0.2);
	}
}

.table {
	margin: auto;
	max-width: 700px;
	color: white;

	thead {
		th {
			width: 30%;
			font-family: 'Press Start 2P', monospace;
			font-weight: normal; 
			background: #010101;
			border: none;
			padding: 1rem 1.5rem;
		}
	}

	tbody {
		tr {
			background: #141629;
			td, th { 
				padding: 0.8rem 1.5rem;
				border: none;
			}
	
			th { 
				font-weight: normal; 
				text-transform: uppercase;
			}
		}
	}
}

/* helper utility classes */
.uppercase {
	text-transform: uppercase;
}

.hidden {
  display: none;
}