body {
  font-family: 'VT323', monospace;
  font-size: 125%;
}

.App {
  height: 68rem;
}

.background {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top left;
}

.btn-primary {
  background-color: #FFD700;
  border-color: #FFD700;
}

.btn-primary:hover {
  background-color: #ffe600;
  border-color: #ffe600;
}